importClassesFrom(Category, HyperGResultBase, PFAMHyperGResult)
importClassesFrom(GOstats, GOHyperGResult)
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(limma, MArrayLM)
importClassesFrom(edgeR, DGEExact, DGELRT, DGEList)
importClassesFrom(GSEABase, GeneSetCollection)
importClassesFrom(DESeq2, DESeqDataSet, DESeqResults)

importFrom(annotate, getAnnMap, annPkgName)
importFrom(limma, topTable)
importFrom(grid, grid.newpage, viewport, pushViewport, upViewport, unit)
importFrom(edgeR, topTags, cpm)
importFrom(GOstats, termGraphs, inducedTermGraph, plotGOTermGraph)
importFrom(DESeq2, results, resultsNames)

importMethodsFrom(AnnotationDbi, select, summary, mget)
importMethodsFrom(Category, summary, geneIdsByCategory, geneIdUniverse)
importMethodsFrom(GOstats, summary)
importMethodsFrom(GSEABase, geneIds, geneIdType)
importMethodsFrom(XML, '[[')
importMethodsFrom(IRanges, as.data.frame)

import(methods)
import(knitr)
import(BiocGenerics)
import(ggplot2)
import(ggbio)
import(lattice)
import(PFAM.db)
importFrom(R.utils, getRelativePath) #this is a lot of dependencies for one function
importFrom(hwriter, openPage, hwrite, closePage, hwriteImage, hmakeTag)
importFrom(XML, htmlParse, getNodeSet, saveXML, xmlRoot, addChildren,
    newXMLNode, removeChildren, xmlChildren, xmlValue, xmlAttrs, 'xmlValue<-',
    addSibling, xpathSApply)

export(HTMLReport, CSVFile, DataPackage, validConnection,
    reporting.theme.alternate, reporting.theme, makeDESeqDF, readReport,
    fileHandlers, connectionHandlers, knitrHandlers, shinyHandlers,
    fileWIndexHandlers, makeOldHTMLReport, custHeaderPanel)
exportMethods(publish, name, title, 'title<-', reportDirectory,
    'reportDirectory<-', filename, path, url, page, 'page<-', finish, show,
    basePath, baseUrl, dependencies, "dependencies<-", modifyReportDF,
    objectToHTML, toReportDF, Link)
exportClasses(DataPackage, CSVFile, HTMLReport, BaseReport, HTMLReportRef, 
    ReportHandlers)
