importClassesFrom(Category, HyperGResultBase, PFAMHyperGResult)
importClassesFrom(GOstats, GOHyperGResult)
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(limma, MArrayLM)
importClassesFrom(edgeR, DGEExact, DGELRT, DGEList)
importClassesFrom(GSEABase, GeneSetCollection)

importFrom(annotate, getAnnMap)
importFrom(limma, topTable)
importFrom(grid, grid.newpage, viewport, pushViewport, upViewport, unit)
importFrom(edgeR, topTags, cpm)
importFrom(GOstats, termGraphs, inducedTermGraph, plotGOTermGraph)

importMethodsFrom(AnnotationDbi, summary, mget)
importMethodsFrom(Category, summary, geneIdsByCategory, geneIdUniverse)
importMethodsFrom(GOstats, summary)
importMethodsFrom(GSEABase, geneIds)
importMethodsFrom(XML, '[[')

import(lattice)
import(PFAM.db)

importFrom(hwriter, openPage, hwrite, closePage, hwriteImage, hmakeTag)
importFrom(XML, htmlParse, getNodeSet, saveXML, xmlRoot, addChildren, newXMLNode, removeChildren, xmlChildren, xmlValue, xmlAttrs, 'xmlValue<-', addSibling, xpathSApply)

export(HTMLReport, CSVFile, DataPackage, validConnection, reporting.theme.alternate, reporting.theme, makeDESeqDf, htmlReportRef, readReport, fileHandlers, connectionHandlers, knitrHandlers, shinyHandlers, fileWIndexHandlers)
exportMethods(publish, name, title, 'title<-', reportDirectory,
              'reportDirectory<-', filename, path, url, page, 'page<-', finish,
    show, basePath, baseUrl, dependencies, "dependencies<-", addReportColumns, objectToHTML, toReportDF, Link)
exportClasses(DataPackage, CSVFile, HTMLReport, BaseReport, HTMLReportRef, ReportHandlers)
